<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVG27oPz24v7R9dEGKTbZ5orPNk_mtIPs</string>
	<key>GCM_SENDER_ID</key>
	<string>1073390920370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusQuicksplit</string>
	<key>PROJECT_ID</key>
	<string>campus-quicksplit</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-quicksplit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073390920370:ios:485bfd8508ed5f61059fab</string>
</dict>
</plist>